<div class="row">
  <div class="col s12 center">
    <h2>Customer: <span class="red-text text-darken-1"><%= @customer.name %></span></h2>

    <!-- Page Navigation Links -->
    <div class="page-nav row">
      <div class="col s3 m3 l3">
        <%= link_to "Back", "/tables/#{@customer.table.id}", class: "btn-large red darken-1 nav-spacing"%>
      </div>

      <div class="col s6 m6 l6">
        <h4>Current Order</h4>
      </div>
      <div class="col s2 m2 l2">

      </div>
    </div>
    <!-- End of Page Navigation -->

    <% if @orders %>
      <% @orders.each do |order| %>
      <div class="card">
        <div class="red lighten-2 card-content">
          <h4><%= order.item.name %> : $<%= order.item.price %></h4>

          <%= form_tag "/orders/#{order.id}", method: :delete do %>
            <%= hidden_field_tag :customer_id, order.customer.id %>
            <!-- <%= button_tag "#{ order.item.name } : $#{ order.item.price }", class: 'red lighten-1 btn-large' %> -->
            <%= button_tag 'Remove', class: 'red lighten-1 btn-large' %>
          <% end %>

        </div>
      </div>
      <% end %>
    <% end %>

    <h4>Menu</h4>
    <% @items.each do |item| %>
    <div class="card">
      <div class="card-content">
        <h4><%= item.name %> : $<%= item.price %></h4>

        <%= form_tag '/orders', method: :post do %>
          <%= hidden_field_tag :customer_id, @customer.id %>
          <%= hidden_field_tag :item_id, item.id %>
          <!-- <%= button_tag "#{ item.name } : $#{ item.price }", class: 'red lighten-1 btn-large' %> -->
          <%= button_tag 'Add Item', class: 'red lighten-1 btn-large' %>
        <% end %>

      </div>
    </div>
    <% end %>
  </div>
</div>
